body {
	margin: 0px;
	padding: 0px;
	font-family: 'Nunito Sans', sans-serif;
	background-color: #dddddd;
}

.page {
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.hover:hover{
	background-color: #dddddd;
}

.menuitem:hover{
	border-bottom: 4px solid white;
}

@media only screen and (max-width: 360px) {
	body {
		width: 360px;
	}

	.page {
		width: 360px;
		/*padding-left: 20px;
		padding-right: 20px;*/

		box-sizing: border-box;
	}
}
